// sass-lint:disable no-vendor-prefixes // TODO: add autoprefixer
// sass-lint:disable nesting-depth
@import '../../variables';

$item-padding: 60px;

app-filter {
  background-color: $filter-background-color;
}

.items {
  margin-top: 0;
  text-align: justify;

  .use-background {
    background-color: $very-light-gray;
  }

  .first {
    padding-top: $item-padding;
  }

  .last {
    padding-bottom: $item-padding;
  }

  .no-results {
    font-size: 20px;
    height: 300px;
    margin-top: 100px;
    text-align: center;
  }

  app-related-sermons {
    &.item {
      padding-top: 50px;
    }
  }

  .item {
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;

    h1 {
      color: $gray;
      flex-basis: 100%;
      font-size: 18px;
      margin-bottom: 5px;
      margin-top: 20px;
    }

    h2 {
      font-size: 16px;
      margin-top: 0;
    }

    .image-container {
      height: 10000px;
      margin: 0 auto;
      max-height: 350px;
      max-width: 90%;
      padding: 20px 0;

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }

    .item-details {

      .item-item {
        font-size: 16px;
        padding: 5px 0;

        &.long-text {
          max-height: 150px;
          overflow: hidden;
          text-align: justify;
        }

        &.open {
          max-height: initial;
        }
      }
    }

    &.odd {
      background-color: $list-background;
    }
  }

  @media (max-width: $mobile-break-point) {
    font-size: 14px;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;

    app-related-sermons {
      &.item {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  @media (min-width: $mobile-break-point + 1px) {
    margin: 0 auto;
    margin-bottom: 20px;

    &.container {
      font-family: inherit;
      font-size: inherit;
      padding-left: initial;
      padding-right: initial;
    }
  }
}
