// sass-lint:disable no-vendor-prefixes // TODO: add autoprefixer
// sass-lint:disable nesting-depth
@import '../../variables';

app-filter {
  background-color: $filter-background-color;
}

.items {
  margin-top: 60px;
  text-align: justify;

  @media (max-width: 700px) {
    font-size: 14px;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
  @media (min-width: 701px) {
    margin: 20px auto;

    &.container {
      font-family: inherit;
      font-size: inherit;
      padding-left: initial;
      padding-right: initial;
    }
  }

  .no-results {
    font-size: 20px;
    height: 300px;
    margin-top: 100px;
    text-align: center;
  }

  .item {
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;

    h1 {
      color: $gray;
      font-size: 18px;
      margin-bottom: 5px;
      margin-top: 20px;
    }

    img {
      align-self: flex-start;
      display: block;
      margin: 0 auto;
      max-width: 70%;
      padding: 20px 0;
    }

    .item-details {

      .item-item {
        font-size: 16px;
        padding: 5px 0;

        &.long-text {
          max-height: 150px;
          overflow: hidden;
          text-align: justify;
        }

        &.open {
          max-height: initial;
        }
      }
    }

    &.odd {
      background-color: $list-background;
    }

  }
}
