<nav class="nav">
  <div class="top-container">
    <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="home">Home</a>
    <div class="mobile-nav">
      <button (click)="navOpen = !navOpen">Toggle nav</button>
    </div>
  </div>
  <ul class="items">
    <div class="left">
      <li *ngFor="let item of apiService.menu | async" class="item">
        <a *ngIf="item.url" [routerLink]="['/' + item.slug]" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{item.name}}</a>
        <template [ngIf]="item.sub">
          <button (click)="item.active = !item.active">{{item.name}}</button>
          <ul class="sub-items" [ngClass]="{'active': item.active === true}">
            <li *ngFor="let sub of item.sub" class="sub-item">
              <a [routerLink]="['/' + item.slug + '/' + sub.slug]" (click)="isCollapsed = !isCollapsed">
                <img src="{{sub.image_small}}" srcset="{{sub.image_small}} 150w, {{sub.image_medium}} 300w, {{sub.image_large}} 600w" sizes="30vw" alt="">
                <div class="title">{{sub.name}}</div>
                <div class="overlay"></div>
              </a>
            </li>
          </ul>
        </template>
      </li>
    </div>
    <div class="right">
    </div>
  </ul>
</nav>