// sass-lint:disable no-vendor-prefixes // TODO: add autoprefixer
// sass-lint:disable nesting-depth
@import '../../variables';
$filter-color: #4d4d4d;

app-header-default  {
  height: 210px;
}

app-filter {
  background-color: $filter-color;
}

.events {
  .event-group {
    h2 {
      color: $gray;
      font-size: 18px;
    }
  }
}
