@import '../../variables';

app-header-default  {
  height: 210px;
}

app-filter {
  background-color: $filter-background-color;
  color: $white
}

app-button-clear {
  font-size: .8em;
  outline-color: $white;
  padding: 6px;
}

.hide {
  display: none;
}

iframe {
  display: block;
  margin: 50px auto;
}
