@import '../../styles/variables';
@import "../../../vendor/nouislider/distribute/nouislider.min.css";
.slider-container {
  padding: 5px 0;
  .slider {
    $sliderHeight: 1px;
    background-color: $pvGreen !important;
    height: $sliderHeight !important;
    margin: 10px 0;
    box-shadow: none !important;
    border: none !important;
    padding: 0;
    .noUi-base {
      padding: 20px;
      $orginPull: -20px;
      -webkit-transform: translate3d(0,$orginPull,0);
      transform: translate3d(0,$orginPull,0);
      &:hover {
        cursor: pointer;
        .noUi-origin .noUi-handle {
          display: block;
        }
      }
      .noUi-origin {
        height: $sliderHeight;
        background-color: $lightGray;
        top: $orginPull * -1;
        .noUi-handle {
          background-color: $pvGreen;
          width: 8px;
          height: 8px;
          border-radius: 100%;
          box-shadow: none;
          top: -3px;
          left: -4px;
          display: none;
          cursor: pointer;
        }
      }
    }
  }
}
