@import '../../styles/variables';
@media (min-width: 768px) {
	/* Show large menu on initialization
	   `.collapse` is removed on init while large,
		 but comes back after resizing window.
	*/ 
	.fix-on-init {
		// Clone of `.collapse`
		display: block!important;
		height: auto!important;
		padding-bottom: 0;
		overflow: visible!important;
		// Extend `.collapse` to remove remaining 
		// `.collapsing` effects
		position: static;
	}
}
.filter-container {
  height: 54px;
  width: 100%;
  .filter {
    //height: 54px; // removed to enable filter toggle
    top: 51px;
    z-index: 2;
    background: $pvGreen;
    width: 100%;
    &.sticky {
      position: fixed;
    }
    .container {
      @media (max-width: 500px) {
        width: 100%;
      }
      @media (max-width: 767px) {
        padding: 0;
      }
      .filter-toggle {
        color: white;
        background-color: transparent;
        @media (min-width: 768px) {
          display: none;
        }
      }
      .input-item {
        float: left;
        padding: 12px 10px;
        color: white;
        width: 180px;
        .ui-select-container {
          outline: none;
          .ui-select-toggle {
            background-color: $pvGreen;
            color: white;
            border-color: $pvGreen;
            box-shadow: none;
            text-align: center !important;
            .pull-left {
              float: initial !important;
            }
            .btn-link {
              color: white;
            }
            .ui-select-placeholder {
              color: white;
            }
            .pull-right {
              float: initial !important;
              padding: 2px;
            }
            .glyphicon-remove {
              display: none;
            }
            .caret {
              // Undo caret
              display: initial;
              width: initial;
              height: initial;
              margin-left: initial;
              margin-top: initial;
              vertical-align: initial;
              border-top: initial;
              border-right: initial;
              border-bottom: initial;
              border-left: initial;
              right: initial;
              top: initial;
              position: initial;
              &:before {
                // ion-chevron-down
                content: "\f123";
                // General
                display: inline-block;
                font-family: "Ionicons";
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                text-rendering: auto;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
              }
            }
          }
        }
        &.search {
          width: 500px;
          position: relative;
          i {
            position: absolute;
            top: 15px;
            left: 27px;
          }
          input {
            border-radius: 25px;
            padding: 6px 10px 6px 40px;
            border: none;
            outline: none;
            width: 100%;
            background-color: #71bf7a;
            line-height: 1;
            font-size: 18px;
            color: white;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              color: white;
            }
            &:focus {
              background-color: white;
              color: gray;
              &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: gray;
              }
              & + i {
                color: gray;
              }
            }
          }
        }
        @media (max-width: 1400px) {
          width: 18%;
          padding: 10px 20px;
        }
        @media (min-width: 768px) and (max-width: 1400px) {
          &.search {
            width: 35%;
          }
        }
        @media (max-width: 767px) {
          width: 100%;
          border-bottom: 1px solid white;
          &.search {
            width: 100%;
            input {
              width: 70%;
            }
          }
        }
        /*
        @media (max-width: 1000px) {
          width: 18%;
          padding: 10px 20px;
          &.search {
            width: 35%;
          }
        }
        */
      }
    }
  }
}