// sass-lint:disable no-vendor-prefixes // TODO: add autoprefixer
// sass-lint:disable nesting-depth
@import '../../variables';

// Contact variables
$contact-background: $blue-grey;
$contact-text-color: $white;
$contact-font-size: 18px;

.form-container {
  background-color: $contact-background;
  color: $contact-text-color;
  padding: 30px 0 100px;

  .contact-message {
    font-size: $contact-font-size;
    font-weight: normal;
    padding: 30px 0;
    text-align: center;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    max-width: 680px;
    width: 60%;


    label {
      flex-basis: 100%;
      font-size: $contact-font-size;
      padding-bottom: 10px;
      padding-top: 20px;
    }

    input,
    textarea {
      border: 1px solid $light-gray;
      flex-basis: 100%;
      font-size: $contact-font-size;
      padding: 10px;
      resize: none;
      width: 100%;
    }


    textarea {
      height: 200px;
    }
  }
}

.actions-container {
  background-color: $light-gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: 1000px) {
    padding: 0 10%;
  }

  .action {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    flex-basis: 33.33%;
    height: 300px;
    justify-content: center;
    margin: 0;
    overflow: hidden;

    a {
      color: $black;
      display: flex;
      margin: 10%;
    }

    .action-text-container {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: auto;
      max-height: 320px;
      padding: 20px 0;
      text-align: center;
      width: 90%;
      z-index: 1;

      > div {
        flex-basis: 100%;
      }

      .action-text-title {
        margin-top: 0;
      }

      .icon {
        color: $pv-dark-green;
        font-size: 50px;
        padding-bottom: 10px;
      }

      .action-text-content {
        line-height: 1.5;
        text-align: center;
      }

      .action-text-cta {
        padding: 10px;
        text-decoration: underline;
      }
    }
  }
}
