<div class="form-container">
  <h1 class="contact-message">We look forward to hearing from you!</h1>
  <form>
    <label for="contact-name">Name</label>
    <input id="contact-name" type="text" name="name">

    <label for="contact-phone">Phone</label>
    <input id="contact-phone" type="text" name="phone">

    <label for="contact-message">Message</label>
    <textarea id="contact-message" name="message"></textarea>

    <app-button-clear (click)="onSubmit($event)" class="submit-button">Submit</app-button-clear>
  </form>
</div>
<div class="actions-container">
  <div class="action">
    <div class="action-text-container">
      <h3 class="action-text-title">call</h3>
      <div class="action-text-content">(805) 987-5051</div>
      <div class="action-text-cta">Call</div>
    </div>
  </div>
  <div class="action">
    <div class="action-text-container">
      <h3 class="action-text-title">address</h3>
      <div class="action-text-content">1101 Ponderosa Drive, Camarillo, California 93010</div>
      <div class="action-text-cta">Get Directions</div>
    </div>
  </div>
  <div class="action">
    <div class="action-text-container">
      <h3 class="action-text-title">worship time</h3>
      <div class="action-text-content">Sundays at 10:30 am</div>
      <div class="action-text-cta">Learn more</div>
    </div>
  </div>
</div>
