.page-nav {
   @media (max-width: 510px) {
      bottom: 0;
    }
  .btn-primary {
    color: white;
    border-color: white;
    background-color: transparent;
    &:focus {
      color: white;
      background-color: transparent;
      border-color: white;
    }
    &:hover {
      color: #3c3c3c;
      background-color: white;
      border-color: white;
    }
  }
  .ad-container {
    .ad-text {
      color: white;
      font-size: 20px;
      text-align: center;
      @media (max-width: 510px) {
        font-size: 17px;
      }
    }
    .ad-button {
      margin-left: auto;
      margin-right: auto;
      display: block;
      @media (max-width: 510px) {
        font-size: 14px;
        margin-top: 9px;
      }
    }
  }
}
