@import '../../../variables';

$image-large: 600px;
$image-medium: 400px;
$image-small: 300px;

.container-image {
  // Large (default)
  height: $image-large;
  overflow: hidden;
  position: relative;

  img {
    height: $image-large;
    object-fit: cover;
    width: 100%;
  }

  // Medium
  @media (min-width: 501px) and (max-width: 900px) {
    height: $image-medium;

    img {
      height: $image-medium;
    }
  }
  // Small
  @media (max-width: 500px) {
    height: $image-small;

    img {
      height: $image-small;
    }
  }

  h1,
  h2 {
    color: $white;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 2;
  }

  h1 {
    font-family: $title-font;
    font-size: 35px;
    top: 20px;
  }

  h2 {
    font-size: 20px;
    top: 80px;
  }

  .overlay {
    background-color: $black;
    bottom: 0;
    left: 0;
    opacity: .4;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
  @media (max-width: 510px) {
    height: 210px;
  }
}

:host {
  display: block;
  overflow: hidden;
}
