@import '../../../variables';

$image-large: 300px;
$image-medium: 250px;
$image-small: 200px;

:host {
  display: block;
  height: $image-large;
  overflow: hidden;
  position: relative;

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  // Medium
  @media (min-width: 501px) and (max-width: 900px) {
    height: $image-medium;

    img {
      height: $image-medium;
    }
  }
  // Small
  @media (max-width: 500px) {
    height: $image-small;

    img {
      height: $image-small;
    }
  }

  h1,
  h2 {
    color: $white;
    font-weight: 400;
    height: 1em;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 2;
  }

  h1 {
    bottom: 30px;
    font-family: $title-font;
    font-size: 35px;
    top: 0;
  }

  h2 {
    bottom: -40px;
    font-size: 20px;
    top: 0;
  }

  .overlay {
    background-color: $black;
    bottom: 0;
    left: 0;
    opacity: .4;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
  @media (max-width: 510px) {
    height: 210px;
  }
}

// Page navigation
.page-nav {
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  margin: 0 auto;
  padding-bottom: 10px;
  position: absolute;
  right: 0;
  z-index: 2;

  .icon-container {
    border-right: 1px solid $white;
    color: $white;
    float: left;
    outline-color: $white;
    padding: 10px;
    text-align: center;
    width: 150px;

    &:last-of-type {
      border-right: 0;
    }

    .icon {
      font-size: 60px;
    }
  }

  @media (max-width: 500px) {
    width: 300px;

    .icon-container {
      width: 100px;

      .icon {
        font-size: 40px;
      }
    }
  }
}
