@import '../../../variables';

.container-image {
  height: 600px;
  overflow: hidden;
  position: relative;

  img {
    height: 600px;
    object-fit: cover;
    width: 100%;
  }

  h1 {
    color: $white;
    font-family: $title-font;
    font-size: 35px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 20px;
    z-index: 2;
  }

  .overlay {
    background-color: $black;
    bottom: 0;
    left: 0;
    opacity: .4;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
  @media (max-width: 510px) {
    height: 210px;
  }
}
