<img *ngIf="info?.image_small" src="{{info.image_small}}" srcset="{{info.image_small}} 600w, {{info.image_medium}} 1000w, {{info.image_large}} 2000w, {{info.image_x_large}} 3000w" alt="">
<div *ngIf="info?.useOverlay === false ? false : true" class="overlay"></div>
<h1>{{info?.title}}</h1>
<h2 *ngIf="info?.subtitle">{{info?.subtitle}}</h2>
<div *ngIf="info?.links" class="page-nav">
  <app-button-clear *ngFor="let link of info.links; let i = index" (click)="scrollTo(slug, i, link.linkTo)" class="icon-container">
    <div class="icon {{link.icon}}"></div>
    {{link.title}}
  </app-button-clear>
</div>
<ng-content></ng-content>
