@import '../../../variables';

:host {
  color: $dark-gray;
  font-size: 25px;
  height: 1em;
}

app-button-clear {
  background: none;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  height: inherit;
  margin: 0 2px;
  outline: none;
  outline-width: 0;
  padding: inherit;

  &.control-disabled {
    color: $gray;
    cursor: default;
  }

  &:active {
    box-shadow: none;
  }

  &.play-toggle {
    width: 42px;
  }
}
