<div class="sermons container">
  <div *ngFor="let sermon of sermons | paginate: config; let i = index" class="sermon-container" [ngClass]="{'playing': (mediaService.display?.playing) && mediaService.display?.id == sermon?.key, 'current-sermon': mediaService.display?.id == sermon?.key}">
    <div class="sermon-art" (click)="mediaService.toggle(sermon.key)">
      <img [src]="sermon?.art.image_small" srcset="{{sermon?.art.image_small}} 60w, {{sermon?.art.image_medium}} 100w, {{sermon?.art.image_large}} 300w" alt="">
      <div class="sermon-book {{sermon?.art?.color}}" [ngClass]="artClass(i)">{{sermon?.books[0]}}</div>
      <div class="sermon-play-container">
        <div class="sermon-play ion-play"></div>
        <div class="sermon-play ion-pause"></div>
      </div>
    </div>
    <div class="sermon-info">
      <div class="sermon-title truncate info-item">
        &ldquo;{{sermon?.name}}&rdquo;
      </div>
      <div class="sermon-author truncate info-item">
        {{sermon?.speaker}}
      </div>
      <div class="sermon-verse truncate info-item">
        <a>{{sermon?.verse}}</a>
      </div>
      <div class="sermon-date">
        {{sermon?.unix | amFromUnix | amDateFormat:'M/D/YY'}} <span *ngIf="sermon?.meridian === 'Morning'">AM</span><span *ngIf="sermon?.meridian === 'Evening'">PM</span>
      </div>
    </div>
  </div>
  <div *ngIf="sermons !== undefined && filteredMeta?.count === 0" class="no-results">
      No matches for {{filteredMeta.query}}
  </div>
  <app-pagination *ngIf="sermons !== undefined" (pageChange)="config.currentPage = $event" [config]="config"></app-pagination>
</div>
