// sass-lint:disable nesting-depth
@import '../../../variables';
$search-text-color: #808080;
$filter-text-color: #fff;
$filter-text-font: Arial, Helvetica, sans-serif;
$spacing: 15px;

:host {
  background-color: $filter-background-color;
  display: block;
  font-size: inherit;
  line-height: 2;
  overflow: hidden;
}

.content {
  // Filter layout
  display: flex;
  font-size: 19px;
  justify-content: space-between;
  margin: 0 auto;
  padding: $spacing 20px;
  @media(min-width: $desktop-break-point) {
    width: 75%;
  }
  @media (min-width: $mobile-break-point + 1) {
    .toggle {
      display: none;
    }
  }

  .right {
    &.item {
      font-size: 18px;
      margin: 0 12px;
      padding: 9px;

      &:first-of-type {
        margin-left: auto;
      }
    }

    &:focus {
      outline: solid $filter-text-color 1px;
    }
  }

  .left {
    &:last-of-type {
      margin-right: auto;
    }
  }

  .search {
    margin: auto;
    padding: 0 20px;
    width: 41%;

    app-input {
      border-radius: 25px;
      color: $search-text-color;
      overflow: hidden;
      width: 100%;
    }
  }

  .toggle {
    margin-left: auto;
    margin-right: 5%;
  }

  .item {
    color: $filter-text-color;
    fill: $filter-text-color;
    font-family: $filter-text-font;
    font-size: .8em;
    margin: 3px;
    outline-color: $filter-text-color;
  }

  &.center {
    .search {
      margin-left: auto;
      width: 50%;
      @media (max-width: $mobile-break-point) {
        .item {
          width: 87%;
        }
      }
    }
  }

  @media (max-width: $mobile-break-point) {
    $mobile-font-size: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 260px;

    .left {
      flex: 1 0 100%;
      font-size: $mobile-font-size;
      margin: 5px auto;
      width: 90%;

      app-button-clear {
        color: $white;
        padding: 5px;
      }
    }

    .right {
      &.item {
        font-size: $mobile-font-size;
        margin: 20px;

        &:first-of-type {
          margin-left: auto;
        }

        &:last-of-type {
          margin-right: auto;
        }
      }
    }

    .search {
      align-items: center;
      display: flex;
      margin: 0 auto;

      app-input {
        margin: auto;
        width: 70%;
      }
    }
  }
}
