<div class="player">
  <div class="controls player-item">
    <button class="track-previous ion-chevron-left btn"></button>
    <button class="play-toggle ion-play btn"></button>
    <button class="track-next ion-chevron-right btn"></button>
  </div>
  <div class="progress player-item">
    <div>0:01</div>
    <div>------</div>
    <div>34:52</div>
  </div>
  <div class="info-container player-item">
    <div class="album-art">
      <img src="/app/assets/test-pattern.jpg" alt="">
    </div>
    <div class="info-text">
      <div class="info-title">Sermon Title</div>
      <div class="info-speaker">Pastor Paul Phillipps</div>
    </div>
  </div>
</div>