@import '../../../../variables';
@import '../ui-variables';
$default-color: #808080;
$side-padding: .7em;
$border-radius: 0;

:host {
  background-color: $ui-white;
  border-radius: $border-radius;
  color: inherit;
  display: block;
  fill: $default-color;
  height: 2em;
  position: relative;
  width: 12em;

  input {
    background-color: transparent;
    border: 0;
    border-radius: $border-radius;
    color: inherit;
    font-size: 1em;
    font-weight: 300;
    height: 100%;
    outline: none;
    padding: .4em $side-padding;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  app-icon-search {
    bottom: 0;
    fill: $default-color;
    left: $side-padding;
    line-height: 1;
    margin: auto;
    position: absolute;
    top: 3px;
  }
}
