@import './styles/variables';
@import './styles/ng2-select';
//@import "../vendor/nouislider/distribute/nouislider.min.css";
@font-face{
  font-family: BebasNeue;
  font-weight: normal;
  src: url("app/assets/BebasNeue.otf")
}
@font-face{
  font-family: BebasKai;
  font-weight: normal;
  src: url("app/assets/BebasKai-Regular.otf")
}
@font-face{
  font-family: Adam;
  font-weight: normal;
  src: url("app/assets/Adam.otf")
}
@font-face{
  font-family: LoveMoment;
  font-weight: normal;
  src: url("app/assets/Love Moment.otf")
}

.fixed-nav-fix {
  margin-top: 51px;
}
.quote {
  padding: 5% 0;
  font-style: italic;
}
.content {
  line-height: 2;
}
.container, .container-fluid {
  font-size: 20px;
  font-family: Arial,Helvetica,sans-serif;
  color: dimgray;
  // Global Break Points
  @media (min-width: 501px) and (max-width: 700px) {
    font-size: 18px;
  }
  @media (max-width: 500px) {
    font-size: 16px;
  }
}
.container-image {
  $image_large: 600px;
  $image_medium: 400px;
  $image_small: 300px;
  //max-height: $image_large;
  height: $image_large;
  overflow: hidden;
  position: relative;
  img {
    object-fit: cover;
    width: 100%;
    height: $image_large;
  }
  @media (min-width: 501px) and (max-width: 900px) {
    height: $image_medium;
    img {
      height: $image_medium;
    }
  }
  @media (max-width: 500px) {
    height: $image_small;
    img {
      height: $image_small;
    }
  }
}
.cover {
  object-fit: cover;
  width: 50px;
  height: 100px;
}
a {
  color: $pvGreen;
  &:hover {
    color: $pvGreen;
  }
  cursor: pointer;
}
.play-button {
  background-color: transparent;
  font-size: 70px;
}
.page-nav {
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 70px;
  width: 450px;
  margin: 0 auto;
  .icon-container {
    float: left;
    border-right: 1px solid white;
    color: white;
    padding: 10px;
    width: 150px;
    text-align: center;
    &:last-of-type {
      border-right: none;
    }
    .icon {
      font-size: 60px;
    }
  }
  @media (max-width: 500px) {
    width: 300px;
    .icon-container {
      width: 100px;
      .icon {
        font-size: 40px;
      }
    }
  }
}
.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: normal;
}
/* Buttons */
.btn-primary {
  color: $pvGreen;
  border-color: $pvGreen;
  background-color: transparent;
  margin: 20px;
  font-size: 20px;
  border-width: 3px;
  transition: background-color 0.5s ease, color 0.5s ease;
  
  &:focus {
    color: $pvGreen;
    background-color: transparent;
    border-color: $pvGreen;
    
  }
  &:hover {
    color: white;
    background-color: $pvGreen;
    border-color: $pvGreen;
  }
}
.btn {
  box-shadow: none !important;
  outline: none !important; 
}


@media (min-width: 768px) {
  .modal-open {
    overflow: initial;
  }
  .fade {
    opacity: 1;
  }
  .modal {
    display: block !important;
    position: initial;
    &.fade {
      .modal-dialog {
        transform: initial;
      }
    }
    
    .modal-header {
      display: none;
    }
  }
  .modal-backdrop {
    display: none;
  }
}