@import '../../../variables';

.footer {
  background-color: $blue-grey;
  color: $white;
  height: 950px;
}

.social-media-container {
  display: block;
  height: 250px;
  line-height: 1.2;
  margin: 0 auto 60px;
  padding-top: 130px;
  width: 414px;
  @media (max-width: 500px) {
    width: 300px;
  }
}

.social-icon {
  border: 3px solid $white;
  border-radius: 100px;
  display: block;
  float: left;
  font-size: 40px;
  height: 92px;
  line-height: 1;
  margin: 0 23px;
  padding: 18px 16px;
  text-align: center;
  transition: background-color .5s ease, color .5s ease;
  width: 92px;

  &:hover {
    background-color: $white;
    color: $blue-grey;
  }

  &::before {
    padding-top: 4px;
  }

  @media (max-width: 500px) {
    border-width: 2px;
    font-size: 25px;
    height: 60px;
    margin: 0 20px;
    padding: 12px 10px;
    width: 60px;
  }
}

.ion-ios-email {
  &::before {
    padding-top: 4px;
  }
}

h2 {
  font-family: BebasNeue;
  font-size: 30px;
  margin: 60px;
  padding: 0 9%;
  text-align: center;
}

a {
  color: $white;
  text-decoration: none;
}

hr {
  border-style: inset;
  border-width: 1px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 370px;
  @media (max-width: 500px) {
    width: 80%;
  }
}

label {
  font-weight: initial;
}

%contact-info {
  font-size: 20px;
  margin: 60px;
  padding: 0;
  text-align: center;

  li {
    display: block;
    list-style: none;
    padding: 10px;
  }
}

.contact-info {
  @extend %contact-info;
}

.more-info {
  @extend %contact-info;
  font-size: 16px;

  li {
    padding: 5px;
  }
}
