<div class="footer">
  <div>
    <div class="social-media-container">
      <a href="https://www.facebook.com/PVBibleChurch" class="ion-social-facebook social-icon" target="_blank"></a>
      <a href="http://instagram.com/128ministries" class="ion-social-instagram-outline social-icon" target="_blank"></a>
      <a href="/contact" class="ion-ios-email social-icon"></a>
    </div>
    <h2>Pleasant Valley Bible Church</h2>
    <hr>
    <ul class="contact-info">
      <li><a href="https://www.google.com/maps/place/Pleasant+Valley+Bible+Church/@34.224582,-119.055738,17z/data=!3m1!4b1!4m2!3m1!1s0x80e849f9894174bf:0xdf0a111320edeccf" target="_blank">1101 Ponderosa Drive, Camarillo, California 93010</a></li>
      <li><label>Phone:</label> <a href="tel:805-987-5051">(805) 987-5051</a></li>
    </ul>
    <hr>
    <ul class="more-info">
      <li><a [routerLink]="['/contact']">Contact</a></li>
      <li><a href="https://www.google.com/maps/place/Pleasant+Valley+Bible+Church/@34.224582,-119.055738,17z/data=!3m1!4b1!4m2!3m1!1s0x80e849f9894174bf:0xdf0a111320edeccf" target="_blank">Get Directions</a></li>
      <li><a [routerLink]="['/about/history']">Our story</a></li>
    </ul>
  </div>
</div>
