<app-loading *ngIf="loading"></app-loading>
<ngx-siema #siema *ngIf="slides && !loading" [options]="options">
  <ngx-siema-slide *ngFor="let slide of slides">
    <app-image-cover src="assets/sermons.jpeg">
      <div class="slide-content">
        <h2 class="title">{{slide.title}}</h2>
      </div>
    </app-image-cover>
  </ngx-siema-slide>
</ngx-siema>
<app-button-clear (click)="onPrev(1)" class="left ion-ios-arrow-left"></app-button-clear>
<app-button-clear (click)="onNext(1)" class="right ion-ios-arrow-right"></app-button-clear>
<div class="slider-paging">
  <app-button-clear class="slider-paging-button" (click)="onGoTo(i)" *ngFor="let slide of slides; let i = index"></app-button-clear>
</div>
