@import '../../../variables';

:host {
  display: block;
  height: 0;
  padding-bottom: 45%;
  position: relative;

  .right,
  .left {
    bottom: 0;
    color: $white;
    cursor: pointer;
    font-size: 60px;
    height: 1em;
    margin: auto;
    position: absolute;
    top: 0;
  }

  .left {
    left: 2%;
  }

  .right {
    right: 2%;
  }
}

app-image-cover {
  height: 0;
  padding-bottom: 45%;
}

app-loading {
  bottom: 0;
  height: 80px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

ngx-siema-slide {
  .slide-content {
    color: $white;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 20%;

    .title {
      text-align: center;
    }
  }
}

.slider-paging {
  bottom: 5%;
  display: flex;
  height: 28px;
  justify-content: center;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  z-index: 999;

  .slider-paging-button {
    $size: 10px;
    background-color: $white;
    border-radius: 50%;
    cursor: pointer;
    height: $size;
    line-height: 1;
    margin: 10px;
    padding: 0;
    width: $size;
  }
}
