<div class="container-image fixed-nav-fix">
  <img *ngIf="ready" src="{{info.image_small}}" srcset="{{info.image_small}} 600w, {{info.image_medium}} 1000w, {{info.image_large}} 2000w, {{info.image_x_large}} 3000w" alt="">
  <div class="overlay"></div>
  <h1>Woman's Ministry</h1>
  <div class="page-nav">
    <div class="icon-container">
      <div class="icon ion-ios-information-outline"></div>
      About
    </div>
    <div class="icon-container">
      <div class="icon ion-calendar"></div>
      Events
    </div>
    <div class="icon-container">
      <div class="icon ion-headphone"></div>
      Related Sermons
    </div>
  </div>
</div>
<div *ngIf="ready" class="container">
  <div [innerHTML]="info.first_section.quote" class="content quote"></div>
  <div [innerHTML]="info.first_section.content" class="content"></div>
</div>
<div *ngIf="ready" class="container-ad">
  <img *ngIf="ready" src="app/assets/abstract.jpg" alt="">
  <div class="adcontent">
    <h1>Womans' Tea</h1>
    <div class="description">The Womans' tea is a time of fellowship and tea.</div>
    <div>Pleasant Valley Bible Church, 1101 Ponderosa Drive, Camarillo, California 93010</div>
    <div>5:30pm | Jan 20, 2017</div>
    <button type="button" class="btn btn-primary">Learn more</button>
  </div>
</div>
<div *ngIf="ready" class="container events">
  <h1>Join a bible study</h1>
  <div class="row events-container">    
    <div *ngFor="let event of testStudies" class="col-md-3 event">
      <div class="event-icon">
        <i class="ion-bookmark"></i>
      </div>
      <div class="event-info">
        {{event.name}}
      </div>
      <div class="event-icon">
        <i class="ion-android-time"></i>
      </div>
      <div class="event-info">
        {{event.time}}
      </div>
      <div class="event-icon">
        <i class="ion-location"></i>
      </div>
      <div class="event-info">
        {{event.location}}
      </div>
      <div class="event-icon">
        <i class="ion-star"></i>
      </div>
      <div class="event-info">
        {{event.extra}}
      </div>
      <div class="event-icon">
        
      </div>
      <div class="event-info">
        <a>Learn more <i class="ion-ios-arrow-forward"></i></a>
      </div>
    </div>
  </div>
  <hr>
  <h1>You're invited!</h1>
  <div class="row events-container">  
    <div *ngFor="let event of testEvents" class="col-md-4 event">
        <div class="event-icon">
          <i class="ion-bookmark"></i>
        </div>
        <div class="event-info">
          {{event.name}}
        </div>
        <div class="event-icon">
          <i class="ion-android-time"></i>
        </div>
        <div class="event-info">
          {{event.time}}
        </div>
        <div class="event-icon">
          <i class="ion-location"></i>
        </div>
        <div class="event-info">
          {{event.location}}
        </div>
        <div class="event-icon">
          <i class="ion-star"></i>
        </div>
        <div class="event-info">
          {{event.extra}}
        </div>
        <div class="event-icon">
          
        </div>
        <div class="event-info">
          <a>Learn more <i class="ion-ios-arrow-forward"></i></a>
        </div>
      </div>
    </div>
  </div>
<div *ngIf="ready" class="container-ad sermon-ad">
  <img *ngIf="ready" src="app/assets/abstract.jpg" alt="">
  <div class="adcontent">
    <h1>Sermons</h1>
    <div class="description">Listen to some sermons on biblical womanhood.</div>
    <div class="more-info">
      <div>“The Best Is Yet To Come (Part 1 Of 2)”</div>
      <div>Pastor Paul Phillipps</div>
    </div>
  </div>
  <button type="button" class="btn ion-play play-button"></button>
  <div class="button-overlay"></div>
</div>
<div *ngIf="ready" class="sermons container">
  <div *ngFor="let sermon of sermons" class="sermon-container">
    <div class="sermon-art">
      <img src="app/assets/{{sermon.art}}" alt="">
      <div class="sermon-play-container">
        <div class="sermon-play ion-play"></div>
      </div>
    </div>
    <div class="sermon-info">
      <div class="sermon-title truncate">
        "{{sermon.title}}"
      </div>
      <div class="sermon-author truncate">
        {{sermon.speaker}}
      </div>
      <div class="sermon-verse truncate">
        <a>{{sermon.verse}}</a>
      </div>
      <div class="sermon-date">
        {{sermon.date}}
      </div>
    </div>
  </div>
</div>

<!--
<div *ngIf="ready" class="container-ad">
  <img *ngIf="ready" src="app/assets/fun-pattern.jpg" alt="">
  <div class="adcontent">
    <h1>Womans Tea</h1>
    <div>Time here</div>
    <div>Location here</div>
    <button>Learn More</button>
  </div>
</div>
<div *ngIf="ready" class="container">
  <div class="content">List Sermons</div>
</div>

-->