@import '../styles/variables';
.container-ad {
  position: relative;
  $image_large: 320px;
  $image_small: 380px;
  margin: 50px 0;
  color: darkslategray;
  height: $image_large;
  img {
    object-fit: cover;
    width: 100%;
    height: $image_large;
  }
  .button-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: black;
    transition: opacity 0.8s ease;
		opacity: 0;
  }
  .play-button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 7px;
    margin: auto;
    width: 80%;
    height: 90%;
    text-align: center;
    opacity: 1;
    transition: color 0.3s ease;
    z-index: 2;
    &:hover {
      color: $pvGreen;
      & + .button-overlay {
        opacity: 0.2;
      }
    }
  }
  @media (max-width: 700px) {
    margin: 30px 0;
    height: $image_small;
    img {
      height: $image_small;
    }
  }
  &.sermon-ad {
    @media (max-width: 700px) {
      margin-bottom: 0;
    }
    .more-info {
      position: absolute;
      bottom: 15%;
      right: 0;
      left: 0;
    }
  }
}
.sermons.container {
  margin-top: 0;
}
// Some kind of bug when using hyphenated class names
.adcontent {
    position: absolute;
    top: 6%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    h1 {
      font-size: 70px;
      font-family: BebasNeue;
      text-align: center;
      margin: 0;
    }
    .description {
      padding: 0 0 20px 0;
    }
    .btn-primary {
      color: $pvGreen;
      border-color: $pvGreen;
      background-color: transparent;
      margin: 20px;
      font-size: 20px;
      border-width: 3px;
      transition: background-color 0.5s ease, color 0.5s ease;
      &:hover {
        color: white;
        background-color: $pvGreen;
      }
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 50px;
      }
    }
}
.events {
  h1 {
    text-align: center;
    margin: 50px 0 20px 0;
    height: 60px;
    @media (max-width: 500px) {
      margin: 10px 0 10px 0;
    }
  }
}
.events-container {
  padding-bottom: 70px;
  @media(max-width: 991px) {
    padding-bottom: 0;
   
  }
  .event {
    border-right: 1px solid gray;
    height: 180px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    @media(max-width: 991px) {
      width: 230px;
      margin: 0 auto;
      border-right: none;
      border-bottom: 1px solid gray;
      margin-top: 35px;
    }
    @media(max-width: 500px) {
      &:first-of-type {
        margin-top: 0;
      }
      margin-top: 10px;
     height: 135px;
    }
    &:last-of-type {
      border-right: none;
      border-bottom: none;
    }
    .ion-location {
      padding-left: 5px;
    }
    .ion-android-time {
      padding-left: 1px;
    }
    .ion-bookmark {
      padding-left: 5px;
    }
    .event-icon {
      min-width: 25px;
      float: left;
      clear: left;
      min-height: 1px;
      max-width: 5%;
    }
    .event-info {
      float: left;
      clear: right;
      max-width: 85%;
    }
    
  }
}