<div class="sermons container">
  <div *ngFor="let sermon of sermons | asSearchSermons:filterValues?.term:filterValues?.box1:filterValues?.box2:filterValues?.box3:filteredCount | orderBy:'Special':filterValues?.box1:filteredItems | paginate: config; let i = index"
    class="sermon-container"
    [ngClass]="{'playing': current?.playing && current?.id == sermon?.key, 'current-sermon': current?.id == sermon?.key}">
    <div class="sermon-art" (click)="current?.playing && current?.id === sermon?.key ? audioService.pause(): audioService.play(sermon?.key)">
      <img src="/app/assets/test-pattern.jpg" alt="">
      <div class="sermon-play-container">
        <div class="sermon-play ion-play"></div>
        <div class="sermon-play ion-pause"></div>
      </div>
    </div>
    <div class="sermon-info">
      <div class="sermon-title truncate info-item">
        &ldquo;{{sermon?.name}}&rdquo;
      </div>
      <div class="sermon-author truncate info-item">
        {{sermon?.speaker}}
      </div>
      <div class="sermon-verse truncate info-item">
        <a>{{sermon?.verse}}</a>
      </div>
      <div class="sermon-date">
        {{sermon?.unix | amFromUnix | amDateFormat:'M/D/YY'}} <span *ngIf="sermon?.meridian === 'Morning'">AM</span><span *ngIf="sermon?.meridian === 'Evening'">PM</span>
      </div>
    </div>
  </div>
  <div *ngIf="filterReadable && filteredCount?.count === 0" class="no-results">
      No matches for {{filterReadable}}
  </div>
  <as-pagination *ngIf="filteredCount?.count > 0" (pageChange)="config.currentPage = $event; pageChange()" [config]="config"></as-pagination>
</div>