// sass-lint:disable no-vendor-prefixes // TODO: add autoprefixer
// sass-lint:disable nesting-depth
@import '../../../variables';

$art-size: 30px;

.player {
  background-color: $very-light-gray;
  border-top: 1px solid $light-gray;
  bottom: $player-height * -1;
  height: $player-height;
  left: 0;
  position: fixed;
  right: 0;
  transition: transform .2s;
  width: 100%;
  z-index: 3;

  &.started {
    @media (min-width: $mobile-break-point + 1) {
      transform: translateY($player-height * -1);
    }
    @media (max-width: $mobile-break-point) {
      &.mopen {
        transform: translateY($player-height-mobile * -1);
      }
    }
  }

  .player-item {
    float: left;
  }

  .controls {
    min-width: 150px;
    width: 15%;


    &.no-playlist {
      margin-left: 60px;
      min-width: 60px;
      width: 60px;
    }
  }

  .progress {
    box-shadow: none;
    height: $player-height;
    width: 50%;

    > div {
      float: left;
    }

    .progress-timer {
      margin: 15px 6%;
      text-align: center;
      width: 10%;

      &.timer-current {
        color: $pv-green;
      }
    }

    .player-progress-bar {
      float: left;
      padding: 9px 0;
      width: 50%;
    }
  }

  .info-container {
    display: flex;
    width: 20%;

    .album-art {
      float: left;
      margin: ($player-height - $art-size) / 2;
      position: relative;
      width: $art-size;

      img {
        width: $art-size;
      }
    }

    .info-text {
      float: left;
      font-size: 11px;
      line-height: 16px;
      margin-top: 9px;

      > div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 120px;
      }

      .info-title {
        text-transform: capitalize;
      }
    }
  }
}

@media (min-width: $mobile-break-point + 1) {
  .player {
    .nav {
      display: none;
    }
  }
}

@media (max-width: $mobile-break-point) {
  .player {
    bottom: $player-height-mobile * -1;
    display: flex;
    flex-wrap: wrap;
    height: $player-height-mobile;

    .nav {
      text-align: right;
      width: 100%;
    }

    .info-container {
      flex-basis: 100%;
      flex-wrap: wrap;
      margin-top: auto;
      order: 1;

      .album-art {
        flex-basis: 100%;

        img {
          display: block;
          margin: 0 auto;
          width: 50%;
        }
      }

      .info-text {
        text-align: center;
        width: 100%;

        > div {
          margin: auto;
        }
      }
    }

    .controls {
      flex-basis: 100%;
      margin-top: auto;
      order: 2;
      text-align: center;

      &.no-playlist {
        margin-left: 0;
      }
    }

    .progress {
      flex-basis: 100%;
      margin-bottom: auto;
      order: 3;
    }
  }
}

app-play-button {
  padding-top: 13px;
}
