// sass-lint:disable no-vendor-prefixes // TODO: add autoprefixer
// sass-lint:disable nesting-depth
@import '../../../variables';

$player-height: 50px;
$art-size: 30px;

.player {
  background-color: $light-gray;
  border-top: 1px solid $light-gray;
  bottom: $player-height * -1;
  height: $player-height;
  left: 0;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 3;

  &.started {
    -webkit-animation: player .2s forwards;
    animation: player .2s forwards;
  }

  .player-item {
    float: left;
  }

  .controls {
    min-width: 150px;
    width: 15%;

    > button {
      background: none;
      color: $dark-gray;
      font-size: 25px;
      height: $player-height;
      margin: 0 2px;
      outline: none;

      &.control-disabled {
        color: $gray;
        cursor: default;
      }

      &:active {
        box-shadow: none;
      }

      &.play-toggle {
        width: 42px;
      }
    }

    &.no-playlist {
      margin-left: 60px;
      min-width: 60px;
      width: 60px;

      > button {
        &.play-toggle {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }

  .progress {
    box-shadow: none;
    height: $player-height;
    width: 50%;

    > div {
      float: left;
    }

    .progress-timer {
      margin: 15px 6%;
      text-align: center;
      width: 10%;

      &.timer-current {
        color: $pv-green;
      }
    }

    .player-progress-bar {
      float: left;
      padding: 9px 0;
      width: 50%;
    }
  }

  .info-container {
    display: flex;
    width: 20%;

    .album-art {
      float: left;
      margin: ($player-height - $art-size) / 2;
      position: relative;
      width: $art-size;

      img {
        width: $art-size;
      }
    }

    .info-text {
      float: left;
      font-size: 11px;
      line-height: 16px;
      margin-top: 9px;

      > div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 120px;
      }
    }
  }
}

@-webkit-keyframes player {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, ($player-height * -1), 0);
  }
}

@media (max-width: 767px) {
  // Modal Design
  .modal {
    .modal-dialog {
      background-color: $white;
      height: 100%;
      margin: 0;

      .modal-content {
        border: 0;
        box-shadow: initial;

        .player {
          -webkit-animation: initial;
          animation: initial;
          background-color: transparent;
          border: 0;
          position: initial;

          .progress {
            background-color: transparent;
          }
        }
      }
    }
  }
}
