<div [ngClass]="{started: mediaService.display.id}" class="player">
  <div class="controls player-item no-playlist">
    <app-button-clear class="play-toggle btn ion-play ion-pause" [ngClass]="{'ion-pause': mediaService.display.playing, 'ion-play': !mediaService.display.playing}" (click)="mediaService.toggle()"></app-button-clear>
  </div>
  <div class="progress player-item">
    <div class="progress-timer timer-current">
      {{ position?.time }}
    </div>
    <app-slider [position]="position?.percentage" class="player-progress-bar"></app-slider>
    <div class="progress-timer">
      {{ current?.duration }}
    </div>
  </div>
  <div class="info-container player-item">
    <div class="album-art">
      <img src="{{mediaService.display?.art?.image_small}}" alt="">
    </div>
    <div class="info-text">
      <div class="info-title">{{ mediaService.display?.title }}</div>
      <div class="info-speaker">{{ mediaService.display?.speaker }}</div>
    </div>
  </div>
</div>
