.container-image h1 {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  font-size: 35px;
  color: white;
  text-align: center;
  z-index: 2;
  font-family: BebasNeue; }

.container-image .overlay {
  background-color: black;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; }

@media (max-width: 510px) {
  .container-image {
    height: 210px; } }
