$pvGreen: #3db74b;
$pvBlue: #0a69a7;
$blueGrey: #221F2B;
$lightGray: #d6d6d6;

$primaryColor: $pvGreen;
$linkColor: $primaryColor;

// Fonts
$titleFont: BebasNeue;
// Forms

// Break points
$mobileBreakPoint: 767px;
$desktopBreakPoint: 1150px;