$pv-green: #3db74b;
$pv-dark-green: #38a444;
$pv-blue: #0a69a7;
$blue-grey: #2a2735;
$light-gray: #d6d6d6;
$dark-gray: #4a4a4a;
$very-light-gray: #f5f5f5;

$primary-color: $pv-green;
$link-color: $primary-color;

// Basic colors
$white: #fff;
$black: #000;
$gray: #808080;

// Fonts
$title-font: BebasNeue;

// Break points
$mobile-break-point-small: 480px;
$mobile-break-point: 767px;
$desktop-break-point: 1150px;

// Other items
$list-background: #f2f2f2;
$filter-background-color: #4d4d4d;
$missing-image: $light-gray;

%overlay {
  background-color: $black;
  bottom: 0;
  left: 0;
  opacity: .7;
  position: absolute;
  right: 0;
  top: 0;
}

// Player
$player-height: 50px;

// Nav related
$nav-light-gray: #f8f8f8;
