$pv-green: #3db74b;
$pv-blue: #0a69a7;
$blue-grey: #221f2b;
$light-gray: #d6d6d6;

$primary-color: $pv-green;
$link-color: $primary-color;

// Basic colors
$white: #fff;
$black: #000;
$gray: #808080;

// Fonts
$title-font: BebasNeue;

// Break points
$mobile-break-point: 767px;
$desktop-break-point: 1150px;
