/* You can add global styles to this file, and also import other style files */
@font-face{
  font-family: BebasNeue;
  font-weight: normal;
  src: url("/assets/BebasNeue.otf")
}
body {
  margin: 0;
}
a, a:hover, a:active {
  text-decoration: none;
  color: black;
}
a:focus {
  outline: 1px solid black;
}
ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}