/* You can add global styles to this file, and also import other style files */
@font-face{
  font-family: BebasNeue;
  font-weight: normal;
  src: url("/assets/BebasNeue.otf")
}
body {
  margin: 0;
}
ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}