$black: #000;
@font-face {
  font-family: BebasNeue;
  font-weight: normal;
  src: url('/assets/BebasNeue.otf');
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
}

a {
  &,
  &:hover,
  &:active {
    color: $black;
    text-decoration: none;
  }

  &:focus {
    outline: 1px solid $black;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

// Global classes
.container {
  width: 90%;
}
