// sass-lint:disable no-vendor-prefixes // TODO: add autoprefixer
// sass-lint:disable nesting-depth
@import '../../../variables';

.events {

  margin-top: 60px;
  @media (max-width: 700px) {
    font-size: 14px;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
  @media (min-width: 701px) {
    margin: 20px auto;

    &.container {
      font-family: inherit;
      font-size: inherit;
      max-width: initial;
      padding-left: initial;
      padding-right: initial;
      width: 70%;
    }
  }

  .no-results {
    font-size: 20px;
    height: 300px;
    margin-top: 100px;
    text-align: center;
  }

  .event-group {
    h2 {
      color: $pv-green;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 5px;
      margin-top: 20px;
      padding-left: 20px;
    }

    .event {
      border-radius: 5px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;

      &.odd {
        background-color: $list-background;
      }

      .event-item {
        font-size: 16px;
        padding: 5px 0;
      }
    }
  }
}
