<nav class="nav">
  <div class="top-container">
    <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="home" (click)="activeItem = undefined">
      <app-logo></app-logo>
    </a>
    <div class="mobile-nav">
      <app-button-clear padding="10px" (click)="navOpen = !navOpen">Toggle nav</app-button-clear>
    </div>
  </div>
  <ul class="items">
    <div class="left">
      <li *ngFor="let item of apiService.menu | async" class="item" [ngClass]="{'active': item.slug === activeItem}">
        <a *ngIf="item.url" [routerLink]="['/' + item.slug]" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" (click)="activeItem = undefined">{{item.name}}</a>
        <ng-template [ngIf]="item.sub">
          <app-button-clear padding="10px" (click)="activeItem !== item.slug ? activeItem = item.slug : activeItem = undefined">{{item.name}}</app-button-clear>
          <div class="sub-items-container" [ngClass]="{'active': item.slug === activeItem}">
            <ul class="sub-items">
              <li *ngFor="let sub of item.sub" class="sub-item">
                <a [routerLink]="['/' + item.slug + '/' + sub.slug]" [tabindex]="item.slug !== activeItem ? '-1' : null" (click)="activeItem = undefined">
                  <app-nav-link [title]="sub.name" [src]="sub.image_large"></app-nav-link>
                </a>
              </li>
            </ul>
          </div>
        </ng-template>
      </li>
    </div>
    <div class="right">
    </div>
  </ul>
</nav>
