<nav class="nav">
  <div class="top-container">
    <div [ngClass]="{started: (mediaService.display | async)?.id}" class="toggle-audio-details">
      <app-button-clear [ngClass]="{playing: (mediaService.display | async)?.playing}" (click)="mediaService.mobileToggle()">
        <span class="ion-radio-waves"></span>
      </app-button-clear>
    </div>
    <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="home" (click)="activeItem = undefined">
      <app-logo></app-logo>
    </a>
    <div class="mobile-nav">
      <app-button-clear label="toggle navigartion" class="toggle" padding="10px" (click)="navOpen = !navOpen; scrollUp()"><app-icon-nav></app-icon-nav></app-button-clear>
    </div>
  </div>
  <ul class="items" [ngClass]="{'open': navOpen}">
    <div class="left">
      <li *ngFor="let item of apiService.menu | async" class="item" [ngClass]="{'active': item.slug === activeItem}">
        <a *ngIf="item.url" [routerLink]="['/' + item.slug]" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" (click)="navOpen = false; activeItem = undefined">{{item.name}}</a>
        <ng-template [ngIf]="item.sub">
          <app-button-clear padding="10px" (click)="activeItem !== item.slug ? activeItem = item.slug : activeItem = undefined">{{item.name}}</app-button-clear>
          <div class="sub-items-container" [ngClass]="{'active': item.slug === activeItem}">
            <ul class="sub-items">
              <li *ngFor="let sub of item.sub" class="sub-item">
                <app-nav-link [menu]="true" [title]="sub.name" [src]="sub.image_large" [link]="['/' + item.slug + '/' + sub.slug]" [tabindex]="item.slug !== activeItem ? '-1' : null" (click)="navOpen = false; activeItem = undefined"></app-nav-link>
              </li>
            </ul>
          </div>
        </ng-template>
      </li>
    </div>
    <div class="right">
    </div>
  </ul>
</nav>
