@import '../../variables';

:host {
  display: block;
}

.header {
  overflow: hidden;
}

.service-hours {
  font-size: 20px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
  width: 50%;

  li {
    padding-top: 30px;
  }

  h1,
  h2 {
    font-family: $title-font;
    margin-bottom: 0;
  }

  h1 {
    color: $gray;
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  .learn-more {
    padding: 50px 0;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  > div {
    flex-basis: 33.33%;
    text-align: center;
  }
  @media (max-width: $mobile-break-point) {
    > div {
      flex-basis: 50%;
    }
  }
  @media (max-width: $mobile-break-point-small) {
    > div {
      flex-basis: 100%;
    }
  }
}
