<div class="header">
  <img src="assets/sermons.jpeg">
</div>
<div class="service-hours">
  <h1>Service Hours</h1>
  <ul>
    <li>
      <h2>Sunday School</h2>
      <time>Sundays at 9:00 am</time>
    </li>
    <li>
      <h2>Worship Service</h2>
      <time>Sundays at 10:30 am</time>
    </li>
    <li>
      <h2>Evenings &amp; Flocks</h2>
      <time>Sundays at 6:00 pm</time>
    </li>
  </ul>
  <div class="learn-more">
    <a [routerLink]="['/ministries/sunday/']">Learn More <span class="ion-ios-arrow-right"></span></a>
  </div>
</div>
<div class="grid">
  <div>Children</div>
  <div>Youth</div>
  <div>Young Adults</div>
  <div>Women</div>
  <div>Men</div>
  <div>Family</div>
</div>
